<div>
  <% overdueTodos = todo.overdue() %> <% overdueCount = 0 %>
  <h5>Overdue (<span id="count-overdue"><%= overdueCount %></span>)</h5>
  <ul>
    <% overdueTodos.forEach(todo => { %> <% overdueCount++; %>
    <li><%= todo.title %></li>
    <% }) %>
  </ul>
  <% dueTodayCount = 0 %>
  <h5>Due Today (<span id="count-due-today"><%= dueTodayCount %></span>)</h5>
  <ul>
    <% dueTodayTodos.forEach(todo => { %> <% dueTodayCount++; %>
    <li><%= todo.title %></li>
    <% }) %>
  </ul>

  <% dueLaterCount = 0 %>
  <h5>Due Later (<span id="count-due-later"><%= dueLaterCount %></span>)</h5>
  <ul>
    <% dueLaterTodos.forEach(todo => { %> <% dueLaterCount++; %>
    <li><%= todo.title %></li>
    <% }) %>
  </ul>
</div>
